<div class="Sign_Form">
  <h1>List of Events</h1>
  <script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    $('#eventlist').dataTable({
      sPaginationType: "full_numbers",
      //bJQueryUI: true,
    })
  });
  </script>
  <div class="csvTable">
    <table id="eventlist" class="display">
      <thead>
        <tr>
          <th>Event ID&nbsp;&nbsp;&nbsp;&nbsp;</th>
          <th>Event Name</th>
          <th>Starts at</th>
          <th>Ends at</th>
          <th>Venue</th>
          <% if @current_user.utype == "dorm_council" || @current_user.utype == "sec_gen" %>
          <th>Actions&nbsp;&nbsp;&nbsp;</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
        <tr>
          <td><%= event.id %></td>
          <td><%= link_to event.name, viewevent_path(event.id) %></td>
          <td><%= event.starts_at.strftime("%b %d, %Y") %></td>
          <td><%= event.ends_at.strftime("%b %d, %Y") %></td>
          <td><%= event.venue %></td>
          <% if @current_user.utype == "dorm_council" || @current_user.utype == "sec_gen" %>
          <td>
            <%= link_to "CSV", eventcsv_path(event.id) %>
          </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>