<!DOCTYPE html>
<html>
<head>
  <title>ARSIS</title>
  <%= favicon_link_tag "header/home.png" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class= "Login_Form">
	<br><br><br><h2><b>WELCOME TO</b></h2>
	<%= image_tag "login-logo.png" %>
	<%= form_tag(:action => 'login_attempt') do %>
		<%= text_field_tag(:idnum_or_email, nil, :placeholder => 'ID NUMBER', :class => "loginText", :style => "text-align: Center") %><br>
		<%= password_field_tag :login_password, nil, :placeholder => 'PASSWORD', :class => "loginText",  :style => "text-align: Center" %><br>
		<%= submit_tag("Log In", :class => "tealButton", :style => "text-align: Center")%>
	<% end %>
	<small><%= link_to "Forgot password?" , new_password_reset_path, class: "nav_links" %>&nbsp;&nbsp;&nbsp;&nbsp;<%= link_to "Activate Account" , :signup, class: "nav_links" %></small>
</div>
</body>
</html>