<% @page_title = "Create Event" -%>
<div class= "CreateEvent_Form">
  <center><br><h1>Create Event</h1>
    <h2>Fill out the form by supplying the correct information.</h2>
  </center><br>
  <script>
  $(document).ready(function() {
    $('#event_starts_at').datetimepicker({
      timeFormat: "hh:mm:ss",
      dateFormat: "yy-mm-dd"
    });
    $('#event_ends_at').datetimepicker({
      timeFormat: "hh:mm tt"
    });
  });
  </script>
  <div class= "postevent" align="left">
    <%= form_for(:event, :url => {:controller => 'events', :action => 'addevent'}) do |f| %>
    <table cellspacing="5" border="0">
      <tr>
        <td width=175>Event Classification</td>
        <td width=200><%= f.collection_select(:eventclass_id, Eventclass.all, :id, :name)%></td>
      </tr>
      <tr>
        <td width=175>Event Name</td>
        <td width=200><%= f.text_field :name %></td>
      </tr>
      <tr>
        <td width=175>Starts at</td>
        <td width=200><%= f.text_field :starts_at %> </td>
      </tr>
      <tr>
        <td width=175>Ends at</td>
        <td width=200><%= f.text_field :ends_at %> </td>
      </tr>
      <tr>
        <td width=175><%= f.check_box :allday %> All-day</td>
        <td width=200></td>
      </tr>
      <tr>
        <td width=175>Venue</td>
        <td width=200><%= f.text_field :venue %></td>
      </tr>
      <tr>
        <td width=175><%= f.check_box :is_open %> Open to non-dormers</td>
        <td width=200></td>
      </tr>
      <tr>
        <td width=420 align="center" colspan="2"><br><%= f.submit :Submit, :class => "tealButton", :style => "text-align: Right"%><%= button_tag "Cancel", :type => 'button', :class => "redButton"%></td>
      </tr>
    </table>
    <% end %>
  </div>
</div>