<div class="Profile_Form" align="center">
    <table class="Profile" border="0" align="center">
      <tr>
        <td width="265"><%= image_tag(@current_user.image.url, :size => "226x223") %></td>
        <td align="left">
          <font face="Helvetica" size="5px" color="white">
            <b><%= @current_user.lastname %>, <%= @current_user.firstname %> <%= @current_user.middlename %></b>
          </font>
          <br>
          <font face="Helvetica" size="2.8px" color="#005a62">
            <b>ID NO</b>
          </font>
          <font face="Helvetica" size="3px" color="white">
            <b><%= @current_user.idnum %><br><br>
              <%= image_tag "profile/contacicon.png", :size => "13x14" %> <%= @current_user.mobile %><br>
              <%= image_tag "profile/emailicon.png", :size => "17x13" %> <%= @current_user.email %></b>
          </font>
          <br><br>
          <font face="Helvetica" size="3px" color="#005a62">
            <b>Year & Course</b>
          </font>
          <font face="Helvetica" size="4.8px" color="white">
            <b><%= @current_user.year %> <%= @current_user.course.name %></b>
          </font>
          <br>
          <font face="Helvetica" size="3px" color="#005a62">
            <b>Room No.</b>
          </font>
          <font face="Helvetica" size="4.px" color="white">
            <b><%= @current_user.room %></b>
          </font>
          <br>
          <font face="Helvetica" size="3px" color="#005a62">
            <b>Province of Origin</b>
          </font>
          <font face="Helvetica" size="4.px" color="white">
            <b><%= @current_user.province %></b>
          </font>
          <br><br>
          <font face="Helvetica" size="3px" color="#005a62">
            <b>Position</b>
          </font>
          <font face="Helvetica" size="4.px" color="white">
            <b><%= @current_user.position %></b>
          </font>
        </td>
        <td width="80" style="vertical-align: top">
          <% if @current_user.utype == 'dorm_council' %>
            <br><%= image_tag "profile/dormcouncilicon.png" %>
          <% end %>
        </td>
      </tr>
    </table>
</div>