<div class="Sign_Form">
  <h1>Consolidated Resident Retention Points Report</h1>
  <script>
  $(document).ready(function() {
    $('#dormerlist').dataTable({
      sPaginationType: "full_numbers",
      //bJQueryUI: true,
      "sDom": 'T<"clear">lfrtip',
      "oTableTools": {
        "sSwfPath": "media/swf/copy_csv_xls_pdf.swf",

        "aButtons": [
        "copy",
        {
          "sExtends": "xls",
          "sFileName": "Consolidated Resident Retention Points Report.xls"
        },
        // {
        //   "sExtends": "pdf",
        //   "sTitle": "ARSIS Consolidated Report",
        //   "sPdfMessage": "",
        //   "sFileName": "Consolidated Resident Retention Points Report.pdf",
        //   "sPdfOrientation": "landscape"
        // },
        {
          "sExtends": "print",
          "sMessage": "<div class=\"Sign_Form\"><img src=\"https://www.facebook.com/ajax/messaging/attachment.php?attach_id=2d65eef9977c3448521b2ab1beba3ca0&mid=id.344732965638721&hash=AQADdboe0cxgsbOj\" width=\"841px\"></div>"
        }
        ]
      }
    })
  });
  </script>
  <div class="csvTable">
    <table id="dormerlist" class="display">
      <thead>
        <tr>
          <th>ID#</th>
          <th>Full Name</th>
          <th>Year & Course</th>
          <th>Total Points</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.lastname %>, <%= user.firstname %> <%= user.middlename %></td>
          <td><%= user.year %> <%= user.course.name %></td>
          <td><%= user.totalpoints %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <br>
  </div>
</div>