<% @page_title = "Create Event" -%>
<div class= "CreateEvent_Form">
  <center><br><h1>Create Event</h1>
    <h2>Fill out the form by supplying the correct information.</h2>
  </center><br>
  <script>
  $(document).ready(function() {
    $('#event_starts_at').datetimepicker({
      timeFormat: "HH:mm:ss",
      dateFormat: "yy-mm-dd"
    });
    $('#event_ends_at').datetimepicker({
      timeFormat: "HH:mm:ss",
      dateFormat: "yy-mm-dd"
    });
  });
  </script>
  <div class= "postevent" align="center">
    <%= form_for(:event, :url => {:controller => 'events', :action => 'newevent'}) do |f| %>
    <table cellspacing="0" border="0">
      <tr>
        <td width=200>Event Classification</td>
        <td width=200><%= f.collection_select(:eventclass_id, Eventclass.all, :id, :name)%></td>
      </tr>
      <tr>
        <td width=200>Event Name</td>
        <td width=200><%= f.text_field :name, :style=>'width: 200px;' %></td>
      </tr>
      <tr>
        <td width=200>Starts at</td>
        <td width=200 class="csvTable"><%= f.text_field :starts_at, :style=>'width: 200px;' %> </td>
      </tr>
      <tr>
        <td width=200>Ends at</td>
        <td width=200><%= f.text_field :ends_at, :style=>'width: 200px;' %> </td>
      </tr>
      <tr>
        <td width=200>Venue</td>
        <td width=200><%= f.text_field :venue, :style=>'width: 200px;' %></td>
      </tr>
      <tr>
        <td width=200><%= f.check_box :is_open %> Open to non-dormers</td>
        <td width=200></td>
      </tr>
      <tr>
        <td width=200 align="right"><br><%= f.submit :Submit, :class => "tealButton", :style => "text-align: Right"%><% end %></td>
        <td width=200 align="left"><br><%= button_to "Cancel", :home, :type => 'button', :class => "redButton"%></td>
      </tr>
      <tr><% if @event.errors.any? %>
          <% for message_error in @event.errors.full_messages %>
          <li>* <%= message_error %></li>
          <% end %>
        <% end %></tr>
      </table>


    </div>
  </div>